/* styles.css */
body {
    background-color: #1F2937;
    margin: 0;
    display: flex;
    flex-direction: column;
    
    
    
    
}
.p {
    color:#F9FAF8;
    text-align: left;
    margin: 0;
}
.h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    text-align: left;
    margin: 0;
}

.h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    
    
}

.center {text-align:center}

.button {
    background-color: #3882F6;
    border-radius: 5px;
    color:#F9FAF8;
}

.navbar {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap:9em;
    
}

.navbar p{
    color: #E5E7EB;
    font-size: 24px;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    color: #E5E7EB;    
   
}
.navbar li {
    margin: 0 5px 0 5px;
}
.navbar a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}


.block1 {
    background-color: #1F2937;   
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    padding: 1em;
    
}

.right1 {
    border: 2px solid black;
    margin: 1em;
    padding: 1em;
    
}


.left1 {
    width:30%;
}


.block2 {
    background-color: white; 
    padding: 2em;
}

.block2items {
    display:flex;
    justify-content:center;
    gap: 2em;
}
.block2 img {
    width: 100px;
    height:100px;
    border: 2px solid #3882F6;
    border-radius: 1em;
    padding: 3px;
}

.block3 {
    background-color: #E5E7EB;
    padding: 6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.block3 p {
    margin: 0;
    
}

.quote {
    display: flex;
    justify-content: flex-start;
    width: 30%;

}
.quote p {
    text-align: left;
}
.quoted {
    display: flex;
    justify-content: flex-end;
    width: 35%;
    
}

.block4 {
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 3em;
}

.b4mini {
    background-color:#3882F6;
    border-radius: 10px;
    width: 50%;
    margin: 2em;
    display: flex;
    justify-content: space-evenly;
    padding: 2em;
    gap: 14em;

}
.b4mini p {
    color: white;
    margin: 0;

    
}
.b4r {
    align-items: center;
    display: flex;
}

.footer {
    color: #F9FAF8;
}